**/download
**/rocksdb*
**/.done

annos/**/*.vcf*
annos/**/*.bed*
annos/**/*.tsv*

features/**/*.bed*
features/**/*.tsv*
features/**/*.md5

genes/**/*.bed*
genes/**/*.tsv*
genes/**/*.jsonl*
genes/**/*.md5

vardbs/**/*.tsv*
vardbs/**/*.bed*
vardbs/**/*.md5

reference/**/*.fa*

tracks/**/*.bed*

/stats-*/
/*.xlsx
.~*
core.*
/report.NEW

*.egg-info

*~
.*.sw?
.idea
logs/
run.sh
.snakemake
/slurm_log
/old
/tmp
/noref
/GRCh37
/GRCh38
src/
*.pyc
*.pyo
*.bak*
varfish-server-background-db-*
jannovar-db-*
varfish-annotator-*
*.tar.gz
*.sha256
.vscode/
