# Example configuration file for varfish-db-downloader.

# String to use for the download data of data that is not explicitely versioned such as
# ENSEMBL BioMart or VISTA.
download_date: 20230115

# String to use for the release name.
release_name: bollonaster

# Memory to use for sorting (passed to sort -S).
sort_memory: 16G
