#!/usr/bin/env bash

# Function to display usage
usage() {
  echo "Usage: $0 -m MEHARI_VERSION"
  exit 1
}

# Parse command-line options
while getopts "m:" opt; do
  case ${opt} in
    m )
      MEHARI_VERSION="$OPTARG"
      ;;
    \? )
      usage
      ;;
  esac
done

# Check if required variables are set
if [ -z "${MEHARI_VERSION}" ] ; then
  usage
fi

CLINVAR_VERSION={{ DV.clinvar_version }}
CLINVAR_RELEASE={{ DV.clinvar_release }}
HGNC_QUARTERLY={{ DV.hgnc_quarterly }}
MEHARI_DATA_TX_VERSION={{ DV.mehari_tx }}
MEHARI_DATA_TX_SOURCE={{ primary_tx_source }}
FREQUENCY_VERION_37={{ freq_version_37 }}
FREQUENCY_VERION_38={{ freq_version_38 }}


echo "Installing database for releases:"
echo "grch37={{ grch37 }}"
echo "grch38={{ grch38 }}"

echo "Versions to be installed:"
echo "CLINVAR_VERSION=${CLINVAR_VERSION}"
echo "CLINVAR_RELEASE=${CLINVAR_RELEASE}"
echo "HGNC_QUARTERLY=${HGNC_QUARTERLY}"
echo "MEHARI_DATA_TX_VERSION=${MEHARI_DATA_TX_VERSION}"
echo "MEHARI_DATA_TX_SOURCE=${MEHARI_DATA_TX_SOURCE}"
echo "FREQUENCY_VERSION_37=${FREQUENCY}"
echo "FREQUENCY_VERSION_38=${FREQUENCY}"
echo "MEHARI_VERSION=${MEHARI_VERSION}"


CLINVAR=annonars-data-clinvar-${CLINVAR_VERSION}
DIR="${MEHARI_VERSION}"
OUTPUT_BASE={{ downloader_base }}/output/full/mehari/

# copy / download HGNC tsv file
echo "Installing HGNC ..."
mkdir -p $DIR
HGNC_NAME="hgnc_complete_set_${HGNC_QUARTERLY}.tsv"
wget "https://storage.googleapis.com/public-download-files/hgnc/archive/archive/quarterly/tsv/${HGNC_NAME}" -O "$DIR/hgnc.tsv"

for ASSEMBLY in "${genomebuilds[@]}"
do
  assembly=$(echo "$ASSEMBLY" | tr '[:upper:]' '[:lower:]')

  mkdir -p $DIR/$assembly/seqvars
  mkdir -p $DIR/$assembly/seqvars/clinvar
  mkdir -p $DIR/$assembly/seqvars/frequencies

  echo "Copying ${ASSEMBLY} databases from workflow ..."
  # Copy transcript db outputs
  tx_path=$OUTPUT_BASE/genes-txs-$assembly-${MEHARI_DATA_TX_VERSION}
  cp $tx_path/mehari-data-txs-$assembly-*-${MEHARI_DATA_TX_VERSION}.bin.zst $DIR/$assembly/seqvars/.
  # Link primary transcript source to txs.bin.zst
  ln -s mehari-data-txs-$assembly-${MEHARI_DATA_TX_SOURCE}-${MEHARI_DATA_TX_VERSION}.bin.zst $DIR/$assembly/seqvars/txs.bin.zst

  # Copy frequency rocks db output
  freq_path=$OUTPUT_BASE/freqs-$assembly-${FREQUENCY_VERION_37}/rockdb
  cp -r $freq_path $DIR/$assembly/seqvars/frequencies/rocksdb

  echo "Installing clinvar ${ASSEMBLY} ..."
  # Download and unpack clinvar minimal data
  # Note: The other clinvar datasets (genes, sv) are currently not used by mehari annotate workflow
  file="annonars-clinvar-minimal-$assembly-${CLINVAR_RELEASE}"
  url_base="https://github.com/varfish-org/annonars-data-clinvar/releases/download"
  wget "$url_base/annonars-data-clinvar-${CLINVAR_VERSION}/${file}.tar.gz" -O "$DIR/$assembly/seqvars/clinvar/${file}.tar.gz"
  wget "$url_base/annonars-data-clinvar-${CLINVAR_VERSION}/${file}.tar.gz.sha256" -O "$DIR/$assembly/seqvars/clinvar/${file}.tar.gz.sha256"
  sha256sum -c "$DIR/$assembly/seqvars/clinvar/${file}.tar.gz.sha256" --ignore-missing
  tar -xf "$DIR/$assembly/seqvars/clinvar/${file}.tar.gz" -C "$DIR/$assembly/seqvars/clinvar"
  # link rocksdb folder
  ln -s $file/rocksdb $DIR/$assembly/seqvars/clinvar/rocksdb
