#name: check-urls
#
#on:
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main
#  workflow_dispatch:
#  schedule:
#    #         ┌───────────── minute (0 - 59)
#    #         │ ┌───────────── hour (0 - 23)
#    #         │ │ ┌───────────── day of the month (1 - 31)
#    #         │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
#    #         │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
#    #         │ │ │ │ │
#    #         │ │ │ │ │
#    #         │ │ │ │ │
#    #         * * * * *
#    - cron: '49 2 * * *'
#
#jobs:
#  Check-Remote-URLs:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v3
#        with:
#          lfs: true
#
#      - name: Setup formatting environment
#        uses: mamba-org/setup-micromamba@v1
#        with:
#          environment-file: environment.yml
#          init-shell: bash
#          cache-environment: true
#          post-cleanup: none
#
#      - name: Install python package
#        run: |
#          pip install -e .
#        shell: bash -el {0}
#
#      - name: Check availability to upstream URLs
#        run: |
#          varfish-db-downloader wget urls-check-upstream
#        shell: bash -el {0}
