name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Cancel-Previous:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: khan/pull-request-workflow-cancel@1.0.0
        with:
          workflows: "main.yml"
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

  Formatting-Linting:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup formatting environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          init-shell: bash
          cache-environment: true
          post-cleanup: none  # breaks otherwise

      - name: Check formating
        run: |
          make ci
        shell: bash -el {0}

      - name: Comment PR
        if: github.event_name == 'pull_request' && failure()
        uses: marocchino/sticky-pull-request-comment@v1.1.0
        with:
          message: |
            Please check for formatting and linting issues.  You can use `make lint` to:

            - Check your Bash style with `beautysh` and formatting with `shellcheck`.
            - Check your Python style with `black`, linting with `flake8`.
            - Check your Snakemake style with `snakefmt`.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#  Run-Test-Mode:
#    needs: Formatting-Linting
#    runs-on: ubuntu-24.04
#    steps:
#      # temporary workaround until annonars is available on bioconda again
#      - name: Install dependencies
#        run: |
#          sudo apt update -y
#          sudo apt install -y librocksdb8.9 libsnappy1v5
#
#      - name: Checkout repository
#        uses: actions/checkout@v3
#        with:
#          lfs: true
#
#      - name: Setup formatting environment
#        uses: mamba-org/setup-micromamba@v1
#        with:
#          environment-file: environment.yml
#          init-shell: bash
#          cache-environment: true
#          post-cleanup: none  # breaks otherwise
#
#      - name: Install qsv (not in conda-forge yet)
#        run: |
#           cd /tmp
#           wget https://github.com/jqnatividad/qsv/releases/download/0.112.0/qsv-0.112.0-x86_64-unknown-linux-musl.zip
#           unzip qsv-0.112.0-x86_64-unknown-linux-musl.zip
#           cp qsv_musl-1.2.3 /usr/local/bin/qsv
#
#      - name: Install python package
#        run: |
#          pip install -e .
#        shell: bash -el {0}
#
#      - name: Run in test mode
#        run: |
#          CI=true snakemake --cores=1 -p all
#        shell: bash -el {0}
#        env:
#         QSV_NO_UPDATE: "1"
